body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#192338;
}

/* page center */

.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

/* login card */

.login-card{
  background:#1E2E4F;
  padding:40px;
  border-radius:12px;
  width:320px;
  text-align:center;
  box-shadow:0px 10px 30px rgba(0,0,0,0.5);
}

/* title */

.title{
  color:#D9E1F1;
  margin-bottom:5px;
}

.subtitle{
  color:#8FB3E2;
  font-size:14px;
  margin-bottom:25px;
}

/* inputs */

.input-field{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border:none;
  border-radius:6px;
  background:#31487A;
  color:white;
}

.input-field::placeholder{
  color:#D9E1F1;
}

.input-field:focus{
  outline:none;
  background:#8FB3E2;
  color:#192338;
}

/* button */

.login-button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:6px;
  background:#31487A;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.login-button:hover{
  background:#8FB3E2;
  color:#192338;
}